/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#calendar-wrapper {
    display: flex;
    max-width: 1400px;
    margin: 20px auto;
}

#month-year-display {
    width: 200px;
    padding: 20px;
    background-color: #2a3d47;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    background-color: #2a3d47;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #1a2b32;
}

#calendar-container {
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #2a3d47;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.day-header {
    text-align: center;
}

#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    background-color: #fff;
}

.day {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 120px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
}

.day:hover {
    background-color: #f0f0f0;
}

#calendar-body .day {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#calendar-body .day:last-child {
    border-right: none;
}

#calendar-body .day:nth-last-child(-n+7) {
    border-bottom: none;
}
